.books__title{
    color: rgba(66, 66, 124, 0.897) ;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-left: 20vh;
}

.book__img img{
    border: none;
    border-top-left-radius:16px ;
    border-top-right-radius:16px;
    
}

.book__item{
    margin: 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: rgba(46, 46, 63, 0.836) ;
}
.book__item:active{
    color : rgba(46, 46, 63, 0.836) ; 
}
.book__item:hover{
    box-shadow: 1px 1px 1px 2px rgba(78, 78, 128, 0.596)  ;
    transition: all 0.2s;
    cursor: pointer;
    
}
.book__description{
    margin-left: 10px;
    
}
.book__title{
    margin-top: 3px ;
    font-weight: 600;
}
.book__author{
    margin-top: 0 ;
    margin-bottom: 40px;
}